### 문자열 큰 따옴표(""), 작은 따옴표('') 혼용 이유

In [1]:
# 문자열에 작은 따옴표, 큰 따옴표를 혼용하여 사용하는 이유

##1. 문자열""사이의 ''문자를 사용하고 싶다면
life = "'life'is not easy"
print(life)



##2. """ 로 개행을 그냥 엔터치고 쓰면 됨
multiline='''Life is too short
You need Python
superfast'''
print(multiline)

'life'is not easy
Life is too short
You need Python
superfast

### 문자열 포매팅

In [7]:
"I eat %d apples" %3
"He eats %s bananas" % "five"
num = 7
number = "two"
"I eat %d apples and He eats %s bananas" % (num, number)

'I eat 7 apples and He eats two bananas'

In [8]:
# 다음과 같은 코드는 에러 발생함
#"Error is %d%" %80

#따라서, 문자열 안의 %는 %%로 작성할 필요가 있다
"Error is %d%%" %80

'Error is 80%'

### 문자열 정렬

In [9]:
"%10s" %'hi'          #총 10칸 중 뒤에서 채우고 나머지는 여백

'        hi'

In [11]:
"%-10s" %'jane'        #총 10칸 중 앞에서 채우고 나머지는 여백

'jane      '

In [14]:
# 형식에 구애 받지 않고 format함수를 사용해 바로 대입이 가능하다
life = "I eat {0} apples"
life.format(3)
life.format("seven")

'I eat seven apples'

In [18]:
#format 함수를 이용해, 순서에 구애받지 않고 특정 변수를 지정해서 값을 할당할 수 있다.
apple = "I ate {0} apples, He ate {number} bananas, She sleeps {day} days "
apple.format(5, number = "seven", day = "three")

'I ate 5 apples, He ate seven bananas, She sleeps three days '

In [22]:
#총 10칸 중 왼쪽부터 채우는 왼쪽 정렬
text1= "{0:<10}".format("King")
text1

'King      '

In [23]:
#총 10칸 중 오른쪽 부터 채우는 오른쪽 정렬
text2= "{0:>10}".format("Back")
text2

'      Back'

In [24]:
#총 10칸 중 가운데를 채우는 가운데 정렬
text3 = "{:^10}".format("is")
text3

'    is    '

In [27]:
text1+text3+text2

'King          is          Back'

In [31]:
#f문자열 포맷팅
name = "박종빈"
age = 25
f'나의 이름은 {name}입니다. 나이는 {age}살 입니다.'
f'내년이면 나도 {age+1} 살이구나...'

'내년이면 나도 26 살이구나...'

In [10]:
# 구분자를 기준으로 문자열 분리해 리스트 반환

menu = "에스프레소,아메리카노,카페라떼"

# 리스트로 리턴하지만, 원본은 그대로
menu = menu.split(',')
print(menu)
len(menu)

['에스프레소', '아메리카노', '카페라떼']

3

In [15]:
#문자열의 공백을 제거하는 strip()
#양 끝의 해당 문자를 지우지만, 가운데는 안지움

print("aaaaaaPy a thonaaaa".strip('a'))
a = "               the king is back           "

# 디폴트는 띄어쓰기
a = a.strip()
print(a)

#lstrip, rstrip으로 좌,우 선택가능
# 자바의 trim과 같은 역할

Py a thon
the king is back