## 튜플

* 리스트는 []로 둘러싸지만 튜플은 ()로 둘러싼다
* 리스트는 값의 생성.삭제.수정 모두 가능하지만 튜플은 값을 바꿀수 없다.

In [5]:
# 튜플은 다음과 같은 형태로 생성할 수 있다.

t1 = ()
t2 = (1,)
t3 = (1,2,3)
t4 = 4,5,6
t5 = (1,2,(3,4))

In [6]:
t3 = t3*3
t3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

## 튜플이 허용하지 않는 것

### 1. 튜플 요솟값 삭제

In [9]:
t1 = ('a',1,2,3)
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

### 2. 튜플 요솟값 변경

In [10]:
t1[2] = 4

TypeError: 'tuple' object does not support item assignment

## 튜플이 허용하는 연산

### 튜플 인덱싱/슬라이싱

In [11]:
t1 = (1,2,3,4,5,6)

print(t1[3])

t1[1:3]

4

(2, 3)

### 튜플의 덧셈, 곱셈

In [1]:
t1 = (1,2,'a','b')
t2 = (3,4)

t1 +=t2
t1

(1, 2, 'a', 'b', 3, 4)

In [2]:
t2 *= 3
t2

(3, 4, 3, 4, 3, 4)

In [3]:
len(t2)

6

In [7]:
t1

(1, 2, 'a', 'b', 3, 4)

In [4]:
t1.reverse()
# 역시 안된다 ㅎ

AttributeError: 'tuple' object has no attribute 'reverse'

In [5]:
# index(N) N이 몇번째 index에 있는지를 리턴함
t1.index(3)

4

In [8]:
# insert pop -> 당연히 안되겟지 ㅋ
# 역시 안된다

t1.insert(5)

AttributeError: 'tuple' object has no attribute 'insert'

In [9]:
t1.pop()

AttributeError: 'tuple' object has no attribute 'pop'

##  결론! 덧셈, 곱셈 연산을 통해 튜플을 확장할수는 있지만, insert,pop,del은 안된다!