## 튜플

* 리스트는 []로 둘러싸지만 튜플은 ()로 둘러싼다
* 리스트는 값의 생성.삭제.수정 모두 가능하지만 튜플은 값을 바꿀수 없다.

In [5]:
# 튜플은 다음과 같은 형태로 생성할 수 있다.

t1 = ()
t2 = (1,)
t3 = (1,2,3)
t4 = 4,5,6
t5 = (1,2,(3,4))

In [6]:
t3 = t3*3
t3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

## 튜플이 허용하지 않는 것

### 1. 튜플 요솟값 삭제

In [9]:
t1 = ('a',1,2,3)
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

### 2. 튜플 요솟값 변경

In [10]:
t1[2] = 4

TypeError: 'tuple' object does not support item assignment

## 튜플이 허용하는 연산

### 튜플 인덱싱/슬라이싱

In [11]:
t1 = (1,2,3,4,5,6)

print(t1[3])

t1[1:3]

4

(2, 3)

### 튜플의 덧셈, 곱셈

In [12]:
t1 = (1,2,'a','b')
t2 = (3,4)

t1 +=t2
t1

(1, 2, 'a', 'b', 3, 4)

In [13]:
t2 *= 3
t2

(3, 4, 3, 4, 3, 4)

In [14]:
len(t2)

6